:root {
    --color-primary: #050505;
    --color-secondary: rgb(63, 62, 62);
    --color-title: rgb(255, 255, 255);
    --color-button: rgb(120, 118, 250);
    --product-color:  rgb(125, 123, 223);
    --text-color: #353030;
    --white: rgb(204, 183, 183)fff;
    --projects: rgb(236, 230, 230);

    --shadow-color: #2adb6ec9;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body, #root {
    height: 100vh;
}

body {
    background-image: url('../background3.svg');
    
}

h1, h2, h3, h4, h5, h6, a, button{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
  

